POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=oiltech
POSTGRES_USER=oiltech
POSTGRES_PASSWORD=oiltech
POSTGRES_SSLMODE=disable
MQTT_BROKER=tcp://mqtt:1883

CORE_HTTP_ADDR=:8080
COLLECTOR_HTTP_ADDR=:8081
EQUIP_WORK_PERIODS_HTTP_ADDR=:9000

MQTT_TOPIC_PREFIX=oiltech/datasets
SCHEDULER_TICK=1m
